            <% if @forecasts_pm.empty?  %>
              <p> no data for this time</p>
            <% else %>
              <% @forecasts_pm.each do |forecast| %>
                <%# card div %>
                <div class="col px-3 text-center h-100%">
                  <div class="shadow rounded card-show">
                    <div id="top-of-card mt-5" class="d-flex flex-column justify-content-center card-top-custom-show ">
                      <h4 class="mt-5"><%= forecast.source %></h4>
                      <div class="d-flex justify-content-center shaka-toggle">
                        <%forecast.rating.times do %>
                          <!-- <p> <%#= inline_svg("shaka_svg", options={class: "shaka-white shaka-small pl-2"})%> </p>  -->
                        <svg class="mx-1" width="27.4" height="25" viewBox="0 0 137 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1404 109.639C42.829 107.864 38.8126 104.942 35.2957 101.264C35.0417 100.999 34.4714 100.866 34.0851 100.922C25.2012 102.22 18.2021 98.6112 12.1311 92.5517C11.8855 92.3064 11.6448 92.0556 11.386 91.825C11.3134 91.76 11.1856 91.7573 11.2154 91.7663C9.65479 95.5024 8.10004 99.2201 6.54877 102.939C6.05761 104.116 5.2389 104.831 3.90854 104.807C1.87131 104.77 0.841423 102.864 1.67298 100.786C3.0023 97.465 4.35558 94.1509 5.57271 90.7885C6.68944 87.703 6.60365 84.7894 5.0878 81.634C2.0641 75.34 1.16689 68.4402 1.00884 61.5425C0.844196 54.3794 1.36454 47.2027 1.2777 40.0354C1.19294 33.0498 0.715327 26.0691 0.417299 19.0859C0.279747 15.8569 -0.206196 12.5922 0.0987791 9.40384C1.07727 -0.822217 8.81941 -1.27448 14.8467 1.36575C19.8617 3.56275 22.6454 7.90987 24.1772 12.884C25.5646 17.3884 26.2958 22.0944 27.3201 26.7107C27.4768 27.4168 27.6539 28.1188 27.8981 29.1428C29.2715 27.3793 30.3997 25.868 31.5925 24.4102C35.6777 19.4184 40.077 14.7468 45.6287 11.341C50.4086 8.40867 55.523 6.67886 61.1515 8.25827C66.564 9.77689 70.588 13.0597 72.595 18.4666C72.9233 19.3524 73.3412 19.6441 74.3019 19.7504C80.2889 20.4125 84.3029 23.5862 86.2203 29.3589C86.4176 29.9522 86.8122 30.6983 87.32 30.9359C91.5831 32.929 95.2129 35.5324 96.8125 40.3651C101.179 38.4606 105.023 35.9919 108.49 33.0464C112.052 30.0209 115.353 26.6829 118.701 23.4139C120.729 21.4344 122.891 19.7181 125.783 19.3433C132.262 18.5034 137.582 24.1264 136.616 30.6997C135.789 36.3257 133.016 41.0292 129.588 45.3881C123.249 53.4474 115.399 59.8734 106.747 65.1963C101.71 68.296 97.9344 72.3781 94.498 76.9882C89.5896 83.5733 84.8007 90.2574 79.6432 96.6435C75.0022 102.39 69.308 106.932 62.0821 109.141C60.2154 109.712 58.2438 109.931 56.3365 110.38C55.6918 110.531 54.9572 110.746 54.5004 111.181C50.567 114.923 46.6457 118.681 42.8134 122.525C41.3142 124.029 39.9134 124.479 38.6146 123.453C37.3402 122.447 37.2756 120.737 38.6723 119.197C41.2354 116.372 43.8958 113.634 46.5367 110.88C46.9222 110.478 47.4242 110.187 48.1404 109.639ZM30.7467 34.5594C31.3483 35.3059 31.861 35.9266 32.3567 36.5602C33.5717 38.1149 33.5158 39.661 32.2178 40.6815C31.0038 41.6357 29.5254 41.3735 28.2684 39.9677C24.6187 35.8856 22.4113 31.1689 21.7378 25.6974C21.115 20.6351 20.1629 15.6329 17.564 11.1291C16.0096 8.43611 13.9394 6.35096 10.767 5.62048C7.45501 4.85804 5.76618 5.8466 5.50949 9.20862C5.29552 12.0135 5.38618 14.8729 5.65816 17.6771C6.43518 25.6867 7.22228 33.6737 6.57377 41.7479C5.82141 51.1084 5.71269 60.4796 7.20804 69.7952C8.42656 77.3863 11.0633 84.3402 16.838 89.7114C21.1765 93.7459 26.1304 96.434 32.3216 95.7539C36.9108 95.2495 40.5035 92.7896 43.7745 89.7193C45.3265 88.2625 46.9149 88.2375 48.0341 89.5095C49.1008 90.7218 48.9466 92.2849 47.3995 93.5955C45.2223 95.4395 42.9308 97.1485 40.6911 98.9131C45.8836 104.67 53.6977 106.543 61.2248 103.837C67.1347 101.713 71.8253 97.8658 75.6577 93.0782C80.6793 86.8044 85.3884 80.2787 90.195 73.8342C93.9781 68.7622 97.8552 63.8315 103.712 60.9009C105.352 60.0805 106.807 58.8751 108.302 57.7852C115.201 52.7558 121.737 47.3323 126.747 40.3137C128.979 37.1861 130.825 33.8682 131.347 29.9626C131.633 27.8215 130.823 26.2178 129.03 25.1201C127.225 24.0152 125.558 24.5876 124.078 25.8075C123.102 26.6127 122.2 27.5238 121.346 28.461C115.562 34.8019 109.029 40.2498 101.32 44.0269C98.4023 45.4562 97.0427 47.052 96.5019 50.3414C95.3452 57.3708 91.2357 63.0892 86.9365 68.5791C83.4957 72.9731 79.7001 77.0393 74.6948 79.7121C69.4216 82.5278 63.8053 80.8382 60.9063 75.5915C60.1619 74.2441 59.6451 72.771 59.0261 71.3614C51.0707 72.0742 48.6187 70.1342 46.5322 61.4178C46.0427 61.538 45.5481 61.6474 45.0608 61.7815C40.7911 62.9545 37.1599 61.5171 35.0959 57.6073C32.8183 53.2932 33.057 49.0614 35.9132 45.0207C39.8185 39.4957 43.7176 33.9655 47.5631 28.3985C48.7135 26.7329 50.0404 26.1428 51.4527 26.9542C52.8727 27.7708 53.2319 29.3224 52.2086 31.0206C51.0463 32.9495 49.783 34.8217 48.4825 36.6616C45.6777 40.6298 42.7894 44.5392 39.9981 48.5164C38.4691 50.695 38.6622 53.9323 40.2954 55.8018C41.5838 57.2766 43.3758 57.501 46.1198 55.6809C49.3759 53.5211 52.581 51.1559 55.3493 48.416C61.2182 42.6069 65.8314 35.8964 67.7769 27.7083C69.76 19.3631 64.3354 12.5946 56.142 13.0844C52.8699 13.2796 50.0293 14.7465 47.3877 16.5746C40.5566 21.2996 35.5155 27.6878 30.7467 34.5594ZM73.8959 25.1323C73.1133 27.9914 72.6003 30.922 71.5193 33.6254C67.6713 43.2523 61.3328 51.025 53.2288 57.4177C52.7282 57.8126 52.0523 58.4243 52.0533 58.9342C52.0568 60.4747 52.1464 62.076 52.582 63.5404C53.3267 66.0431 55.1055 66.9046 57.5856 66.0303C59.0403 65.5176 60.4943 64.8281 61.7417 63.9302C70.2181 57.8279 76.4211 49.8756 80.267 40.1914C81.1562 37.9534 81.5164 35.3445 81.4543 32.9231C81.3386 28.4269 78.0815 25.3768 73.8959 25.1323ZM86.8129 36.7096C86.5774 37.7054 86.4263 38.5606 86.1731 39.3845C82.6547 50.8475 75.4784 59.7286 66.3844 67.2168C63.865 69.2915 63.7799 69.1967 65.169 72.1853C65.3868 72.6539 65.6414 73.1121 65.9325 73.5386C67.3997 75.6891 69.4734 76.3755 71.8079 75.2167C73.3419 74.4556 74.8153 73.4712 76.112 72.3507C80.8801 68.229 84.6457 63.2671 87.8806 57.8831C90.2405 53.9556 91.7192 49.7554 91.9554 45.1464C92.1555 41.2422 90.4333 38.5165 86.8129 36.7096Z" fill="#0D535B"/>
                            </svg>
                        <% end %>
                        <% (3 - forecast.rating).times do %>
                          <!-- <p> <%#= inline_svg("shaka_svg", options={class: "shaka-white shaka-small pl-2"})%> </p>  -->
                        <svg class="mx-1" width="27.4" height="25" viewBox="0 0 137 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1404 109.639C42.829 107.864 38.8126 104.942 35.2957 101.264C35.0417 100.999 34.4714 100.866 34.0851 100.922C25.2012 102.22 18.2021 98.6112 12.1311 92.5517C11.8855 92.3064 11.6448 92.0556 11.386 91.825C11.3134 91.76 11.1856 91.7573 11.2154 91.7663C9.65479 95.5024 8.10004 99.2201 6.54877 102.939C6.05761 104.116 5.2389 104.831 3.90854 104.807C1.87131 104.77 0.841423 102.864 1.67298 100.786C3.0023 97.465 4.35558 94.1509 5.57271 90.7885C6.68944 87.703 6.60365 84.7894 5.0878 81.634C2.0641 75.34 1.16689 68.4402 1.00884 61.5425C0.844196 54.3794 1.36454 47.2027 1.2777 40.0354C1.19294 33.0498 0.715327 26.0691 0.417299 19.0859C0.279747 15.8569 -0.206196 12.5922 0.0987791 9.40384C1.07727 -0.822217 8.81941 -1.27448 14.8467 1.36575C19.8617 3.56275 22.6454 7.90987 24.1772 12.884C25.5646 17.3884 26.2958 22.0944 27.3201 26.7107C27.4768 27.4168 27.6539 28.1188 27.8981 29.1428C29.2715 27.3793 30.3997 25.868 31.5925 24.4102C35.6777 19.4184 40.077 14.7468 45.6287 11.341C50.4086 8.40867 55.523 6.67886 61.1515 8.25827C66.564 9.77689 70.588 13.0597 72.595 18.4666C72.9233 19.3524 73.3412 19.6441 74.3019 19.7504C80.2889 20.4125 84.3029 23.5862 86.2203 29.3589C86.4176 29.9522 86.8122 30.6983 87.32 30.9359C91.5831 32.929 95.2129 35.5324 96.8125 40.3651C101.179 38.4606 105.023 35.9919 108.49 33.0464C112.052 30.0209 115.353 26.6829 118.701 23.4139C120.729 21.4344 122.891 19.7181 125.783 19.3433C132.262 18.5034 137.582 24.1264 136.616 30.6997C135.789 36.3257 133.016 41.0292 129.588 45.3881C123.249 53.4474 115.399 59.8734 106.747 65.1963C101.71 68.296 97.9344 72.3781 94.498 76.9882C89.5896 83.5733 84.8007 90.2574 79.6432 96.6435C75.0022 102.39 69.308 106.932 62.0821 109.141C60.2154 109.712 58.2438 109.931 56.3365 110.38C55.6918 110.531 54.9572 110.746 54.5004 111.181C50.567 114.923 46.6457 118.681 42.8134 122.525C41.3142 124.029 39.9134 124.479 38.6146 123.453C37.3402 122.447 37.2756 120.737 38.6723 119.197C41.2354 116.372 43.8958 113.634 46.5367 110.88C46.9222 110.478 47.4242 110.187 48.1404 109.639ZM30.7467 34.5594C31.3483 35.3059 31.861 35.9266 32.3567 36.5602C33.5717 38.1149 33.5158 39.661 32.2178 40.6815C31.0038 41.6357 29.5254 41.3735 28.2684 39.9677C24.6187 35.8856 22.4113 31.1689 21.7378 25.6974C21.115 20.6351 20.1629 15.6329 17.564 11.1291C16.0096 8.43611 13.9394 6.35096 10.767 5.62048C7.45501 4.85804 5.76618 5.8466 5.50949 9.20862C5.29552 12.0135 5.38618 14.8729 5.65816 17.6771C6.43518 25.6867 7.22228 33.6737 6.57377 41.7479C5.82141 51.1084 5.71269 60.4796 7.20804 69.7952C8.42656 77.3863 11.0633 84.3402 16.838 89.7114C21.1765 93.7459 26.1304 96.434 32.3216 95.7539C36.9108 95.2495 40.5035 92.7896 43.7745 89.7193C45.3265 88.2625 46.9149 88.2375 48.0341 89.5095C49.1008 90.7218 48.9466 92.2849 47.3995 93.5955C45.2223 95.4395 42.9308 97.1485 40.6911 98.9131C45.8836 104.67 53.6977 106.543 61.2248 103.837C67.1347 101.713 71.8253 97.8658 75.6577 93.0782C80.6793 86.8044 85.3884 80.2787 90.195 73.8342C93.9781 68.7622 97.8552 63.8315 103.712 60.9009C105.352 60.0805 106.807 58.8751 108.302 57.7852C115.201 52.7558 121.737 47.3323 126.747 40.3137C128.979 37.1861 130.825 33.8682 131.347 29.9626C131.633 27.8215 130.823 26.2178 129.03 25.1201C127.225 24.0152 125.558 24.5876 124.078 25.8075C123.102 26.6127 122.2 27.5238 121.346 28.461C115.562 34.8019 109.029 40.2498 101.32 44.0269C98.4023 45.4562 97.0427 47.052 96.5019 50.3414C95.3452 57.3708 91.2357 63.0892 86.9365 68.5791C83.4957 72.9731 79.7001 77.0393 74.6948 79.7121C69.4216 82.5278 63.8053 80.8382 60.9063 75.5915C60.1619 74.2441 59.6451 72.771 59.0261 71.3614C51.0707 72.0742 48.6187 70.1342 46.5322 61.4178C46.0427 61.538 45.5481 61.6474 45.0608 61.7815C40.7911 62.9545 37.1599 61.5171 35.0959 57.6073C32.8183 53.2932 33.057 49.0614 35.9132 45.0207C39.8185 39.4957 43.7176 33.9655 47.5631 28.3985C48.7135 26.7329 50.0404 26.1428 51.4527 26.9542C52.8727 27.7708 53.2319 29.3224 52.2086 31.0206C51.0463 32.9495 49.783 34.8217 48.4825 36.6616C45.6777 40.6298 42.7894 44.5392 39.9981 48.5164C38.4691 50.695 38.6622 53.9323 40.2954 55.8018C41.5838 57.2766 43.3758 57.501 46.1198 55.6809C49.3759 53.5211 52.581 51.1559 55.3493 48.416C61.2182 42.6069 65.8314 35.8964 67.7769 27.7083C69.76 19.3631 64.3354 12.5946 56.142 13.0844C52.8699 13.2796 50.0293 14.7465 47.3877 16.5746C40.5566 21.2996 35.5155 27.6878 30.7467 34.5594ZM73.8959 25.1323C73.1133 27.9914 72.6003 30.922 71.5193 33.6254C67.6713 43.2523 61.3328 51.025 53.2288 57.4177C52.7282 57.8126 52.0523 58.4243 52.0533 58.9342C52.0568 60.4747 52.1464 62.076 52.582 63.5404C53.3267 66.0431 55.1055 66.9046 57.5856 66.0303C59.0403 65.5176 60.4943 64.8281 61.7417 63.9302C70.2181 57.8279 76.4211 49.8756 80.267 40.1914C81.1562 37.9534 81.5164 35.3445 81.4543 32.9231C81.3386 28.4269 78.0815 25.3768 73.8959 25.1323ZM86.8129 36.7096C86.5774 37.7054 86.4263 38.5606 86.1731 39.3845C82.6547 50.8475 75.4784 59.7286 66.3844 67.2168C63.865 69.2915 63.7799 69.1967 65.169 72.1853C65.3868 72.6539 65.6414 73.1121 65.9325 73.5386C67.3997 75.6891 69.4734 76.3755 71.8079 75.2167C73.3419 74.4556 74.8153 73.4712 76.112 72.3507C80.8801 68.229 84.6457 63.2671 87.8806 57.8831C90.2405 53.9556 91.7192 49.7554 91.9554 45.1464C92.1555 41.2422 90.4333 38.5165 86.8129 36.7096Z" fill="#6B6B6B"/>
                            </svg>
                        <% end %>
                      </div>
                    </div>
                    <%# "card-content" %>
                    <div class="container card-content bg-white p-3">
                      <%# wave-conditions %>
                      <div>
                        <p class="mt-3"> Wave</p>
                        <hr style="width:50%;" class="text-center my-1 mb-2">
                        <div class="d-flex justify-content-around align-items-center mx-2 my-0 px-2">
                          <div class="d-flex align-items-center justify-content-center mt-3" style="position: relative; left: -3px;">
                            <i class="fas fa-arrows-alt-v picto-icon"></i>
                            <p class="pl-3 picto-icon"><%= forecast.wave_height.round(1) %>m</p>
                          </div>
                          <div class="d-flex align-items-center justify-content-center mt-3 my-0" style="position: relative;">
                            <i class="fas fa-wave-square picto-icon" ></i>
                            <p class="pl-2 picto-icon"><%= forecast.period %>s</p>
                          </div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center mt-3  my-0 px-2">
                          <div class="d-flex align-items-center" style="position: relative;">
                            <% if forecast.swell_height < 0.5 %>
                              <%= inline_svg("1-wave.svg", options={class: "picto-wave"})%>
                              <p class="pl-2 picto-icon"><%= forecast.wave_height.round(1)%>m</p>
                            <% elsif forecast.swell_height < 1.5 %>
                              <%= inline_svg("2-waves.svg", options={class: "picto-wave"})%>
                              <p class="pl-2 picto-icon"><%= forecast.swell_height.round(1)%>m</p>
                            <% else %>
                              <%= inline_svg("3-waves.svg", options={class: "picto-wave"})%>
                              <p class="pl-2 picto-icon"><%= forecast.swell_height.round(1)%>m</p>
                            <% end %>
                          </div>
                          <div class="d-flex align-items-center" style="position: relative;">
                            <i class="fas fa-arrow-down picto-icon" style="transform: rotate(<%= forecast.swell_direction %>deg); -ms-transform: rotate(<%= forecast.swell_direction %>deg); -webkit-transform: rotate(<%= forecast.swell_direction %>deg);"></i>
                            <p class="pl-2 picto-icon"><%= forecast.swell_direction %>° </p>
                          </div>
                        </div>
                      </div>

                      <div id="wind-conditions">
                        <p class="mt-2"> Wind</p>
                        <hr style="width:50%;" class="my-1 text-center mb-2">
                        <div class="d-flex justify-content-around align-items-center mb-4 mt-3 mx-2 my-0">
                          <div class="d-flex align-items-center" style="position: relative;">
                            <i class="fas fa-wind pr-2 picto-icon"></i>
                            <p class="<%= if forecast.wind_speed >= 15 then 'text-warning' elsif forecast.wind_speed >= 10 then 'text-danger' else 'text-success' end %>">
                              <%= forecast.wind_speed %>kts
                            </p>
                          </div>

                          <div class="d-flex align-items-center" style="position: relative;">
                            <i class="fas fa-location-arrow picto-icon" style="transform: rotate(<%= (forecast.wind_direction-210) %>deg); -ms-transform: rotate(<%= (forecast.wind_direction-210) %>deg); -webkit-transform: rotate(<%= (forecast.wind_direction-210) %>deg);"></i>
                            <p class="pl-2 picto-icon"> <%= forecast.wind_direction %>° </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
