<%# a div for the page %>
<div class="container d-flex parent">
  <%# a div for search bar & cards %>
  <div class="container">
    <%# a div for search bar %>
    <%# a div for cards %>
    <div class="container text-dark">
        <% @spots.each do |spot| %>
        <div class="card-spot">
          <%=  link_to spot_path(spot), class: "text-decoration-none text-dark" do %>
          <div class="card-spot-top">
              <h2><%= spot.name %></h2>
            <div class="card-spot-top-rating">
              <%spot.forecasts.first.rating.times do %>
              <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
            <div class="card-spot-info">
              <div>
                <p><i class="fas fa-water"></i> <%= spot.forecasts.first.wave_height/100.to_f%>m</p>
              </div>
              <div>
                <p><i class="fas fa-location-arrow" style="transform: rotate(<%= spot.forecasts.first.wind_direction %>deg); -ms-transform: rotate(<%= spot.forecasts.first.wind_direction %>deg); -webkit-transform: rotate(<%= spot.forecasts.first.wind_direction %>deg);"></i>
                <%= spot.forecasts.first.wind_speed %>kn
                </p>
              </div>
              <div>
                <p><i class="fas fa-route"></i> <%=spot.distance_to(@query_coordinates).to_i if @query_coordinates.present?%>km</p>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
  <%# a div for the map %>
  <div class="container text-dark">
    <div class="text-center">
      <div id="map"
        style="width: 100%; height: 100vh; position:sticky; top:0px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
