<% content_for :meta_title, "#{@spot.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @spot.description %>
<% content_for :meta_image, cl_image_path(@spot.photos.first.key) %>


<div class="p-3" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 15, 50, 0.3)), url('https://www.sportbusinessmag.com/wp-content/uploads/2020/10/800px-Waves_Games_La_Torche_2018-10-21_12.jpg');">
  <%=  link_to "Back to list", spots_path, class: " btn btn-white" %>
  <div class="d-flex">
    <h3 class="my-2 font-weight-bold font-white"><%= @spot.name %></h3>
    <i class="far fa-heart pt-1 text-sm"></i>
  </div>
  <%=  link_to "Go Surf", spots_path, class: "btn btn-danger" %>
</div>

<div class="container">

  <h4 class="my-3 text-primary text-center"> Today's Forecast</h4>
  <p class="text-dark mb-0">slide to update forecasts</p>
  <i class="fas fa-long-arrow-alt-right text-dark"></i>
    <div class="range-slider-2 d-flex align-items-center justify-content-center mb-3 mx-0">
      <p class="my-0 mx-1">0</p>
      <input class="range-slider__range-2" name="time" type="range" value="8" min="0" max="24">
      <span class="range-slider__value-2">0</span>
      <p class="my-0 mx-1">km</p>
    </div>

  <div id="page-content" class="row">
    <%# forecast-cards %>
    <div class="col-8">
      <% @spot.forecasts.each do |forecast| %>
        <div class="col mb-4 px-0 text-center rounded shadow">
          <div id="top-of-card" class="d-flex flex-column justify-content-center card-top ">
            <h4 class="text-white"><%= forecast.source %></h4>
            <div id="star-rating" class="mt-2 d-flex justify-content-center">
                <% forecast.rating.times do %>
                <i class="fas text-light fa-star ml-1"></i>
                <% end %>
                <% (5 - forecast.rating).times do %>
                <i class="fas text-muted fa-star ml-1"></i>
                <% end %>
            </div>
          </div>
          <div id="card-content" class="container pt-3">
            <%# wave-conditions %>
            <div>
              <h6> Wave Conditions</h6>
              <div class="d-flex justify-content-between px-3">
                <div class="d-flex">
                  <i class="fas fa-arrows-alt-v pr-2"></i>
                  <p><%= forecast.wave_height %> cm </p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-wave-square pr-2"></i>
                  <p><%= forecast.period %> s </p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-center">
                  <i class="fas fa-water pr-2"></i>
                  <p> <%=forecast.swell_height  %> cm </p>
                </div>
                <div class="d-flex">
                  <i class="fas fa-location-arrow pr-2"></i>
                  <p> <%= forecast.swell_direction %> deg </p>
                </div>
              </div>
            </div>
            <hr style="width:50%;" class="text-center">
            <div id="wind-conditions">
              <h6> Wind Conditions</h6>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fas fa-wind pr-2"></i>
                  <p> <%= forecast.wind_speed %> kts </p>
                </div>

                <div class="d-flex">
                  <i class="fas fa-location-arrow pr-2"></i>
                  <p> <%= forecast.wind_direction %> deg </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="right-side" class="col-4">
      <%= image_tag('https://c8.alamy.com/comp/PYE035/amazing-birds-eye-view-with-turquoise-water-and-coastline-creating-an-interesting-muster-shot-on-the-coast-of-caprera-island-italy-PYE035.jpg', class: "img-thumbnail" ) %>
    </div>
  </div>





</div>
