<div class="container my-3">

  <h2 class="margin-left">My favorite spots</h2>
  <div class="container mt-3 mb-5">
    <% if @favorites_spots.present? %>
      <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% @favorites_spots.each do |item| %>
          <div class="col my-2 ">
            <%= link_to spot_path(item), class: "text-decoration-none text-light" do %>
              <div class="rounded p-3 height-set text-center vertical-align d-flex flex-column justify-content-center" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 15, 50, 0.3)), url(<%= cl_image_path item.photos.first.key %>);">
                <h5 class="font-weight-bold"><%= item.name %></h5>
                <div class="mt-2 d-flex justify-content-center">
                  <% item.forecasts.first.rating.times do %>
                    <i class="fas text-light fa-star ml-1"></i>
                  <% end %>
                  <% (5 - item.forecasts.first.rating).times do %>
                    <i class="fas text-muted fa-star ml-1"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No favorite spots yet</p>
    <% end %>
  </div>

  <div class=" grey-rounded-background ">
    <div class="d-flex justify-content-between">
      <h2>My sessions</h2>
      <%= form_tag profile_path, method: :get do %>
        <%= select_tag :session_spot_name, options_from_collection_for_select(@session_spots, :id, :name), include_blank: true, class: "form-radius search-bar-profile" %>
        <%= submit_tag "Update", class:"rounded mx-2 btn btn-secondary" %>
      <% end %>
    </div>
    <% if @sessions.present? %>
        <% @sessions.each do |session| %>
          <div class="inside-container my-3 px-1 d-flex align-items-center justify-content-between">
            <div>
              <div class="d-flex justify-content-between align-items-center specific-width">
                <h4><%= session.spot.name %></h4>
                <h5><small><%= session.timestamp.strftime("%m/%d/%Y") %></small></h5>
              </div>
              <p class="ml-3"><%= session.description %></p>
            </div>
            <div>
              <h5><%= session.title.capitalize%></h5>
              <% session.rating.times do %>
                <i class="fas text-muted fa-star ml-1"></i>
              <% end %>
              <% (5 - session.rating).times do %>
                <i class="fas text-light fa-star ml-1"></i>
              <% end %>
            </div>
          </div>
        <% end %>
    <% else %>
      <p>No sessions recorded yet</p>
    <% end %>
  </div>
</div>
