
<div class="home-banner2">
  <div class="p-3 mb-3 d-flex justify-content-between align-items-center">
    <%= image_tag("SALT-logo.svg", class: "icon") %>
    <% if user_signed_in? %>
      <%= link_to "My profile", profile_path , class:"text-white custom-my-profile" %>
    <% else %>
      <%=  link_to "Login", new_user_session_path, class: "btn-white" %>
    <% end %>
  </div>
  <div class="vertical-align d-flex flex-column justify-content-center">
    <h1 class="text-center">FIND PUMPING SURF NEAR YOU</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <h4 class="text-center"> Choose your location and range</h4> -->
      <div class="container">
        <%= form_tag spots_path, method: :get, class: "my-4 d-flex align-items-center justify-content-center" do %>
        <div class="container d-flex justify-content-center align-items-center">
          <div class="custom-width">
            <%= text_field_tag :query, params[:query],
              placeholder: "Search around...",
              class: "address-input custom-form mx-2 mw-50", id: "address-input"
            %>
          </div>
          <div class="range-slider custom-form-slider d-flex align-items-center justify-content-center text-white">
            <p class="my-0 mx-2">0</p>
            <input class="range-slider__range" name="distance" type="range" value="100" min="0" max="100">
            <span class="range-slider__value ml-2">100</span>
            <p class="my-0 mx-1">km</p>
          </div>
          <div>
            <%= submit_tag "Go", class: "btn-go-homepage", id:"search"%>
          </div>
          <div class="custom-pos-h3">
            <h3>|</h3>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
<%# set .favorite function %>
<div class="mt-4 mb-4 container text-center ">
  <div class="mt-4 mb-4 container text-center ">
    <% if current_user %>
      <% if current_user.favorites %>
        <h3 class="text-dark"> Your Favorite Spots </h3>
      <% else %>
        <h3 class="text-dark"> The best spots right now </h3>
      <% end %>
    <% else %>
      <h3 class="text-dark"> The best spots right now </h3>
    <% end %>

</div>
<div class="container mt-2">
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% @spots.each do |spot| %>
      <div class="col mb-4 ">
        <%= link_to spot_path(spot), class: "text-decoration-none text-light" do %>
          <div class="rounded p-3 height-set text-center vertical-align d-flex flex-column justify-content-center" style="background-size: cover; background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 15, 50, 0.3)), url(<%= cl_image_path spot.photos.first.key %>);">
            <h5 class="font-weight-bold"><%= spot.name %></h5>
                <div class="mt-2 d-flex justify-content-center">
                    <% spot.forecasts.first.rating.times do %>
                      <%= inline_svg("shaka_svg", options={class: "shaka-white"})%>
                    <% end %>
                </div>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>
        <!--    <div class="home-features"> -->
          <!--      <div class="bg"> -->
        <!-- <img src="https://unsplash.it/400/200" alt=""> -->
        <!-- <img src="https://images.pexels.com/photos/5302816/pexels-photo-5302816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="nautical charts">
        <div class="overlay">
          <h2>compare forecasts</h2>
          <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Ex illo reiciendis dicta quasi excepturi quis sunt deserunt consequuntur praesentium animi esse minus rem consectetur quaerat, explicabo placeat. Facere, praesentium, repellat!</p>
        </div>
      </div> -->
    <div class="home-banner-compare">
      <div class="vertical-align d-flex flex-column justify-content-center ">
        <h1>compare forecasts</h1>
        <br>
        <br>
        <p class="px-5">Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Praesentium, ut? Eveniet culpa assumenda, libero pariatur ratione ex qui eius illo incidunt error rem, nam atque impedit excepturi dicta voluptates, debitis!</p>
      </div>
    </div>
    <br>
    <div class="home-banner-record">
      <div class="vertical-align d-flex flex-column justify-content-center ">
        <h1>log your sessions</h1>
        <br>
        <br>
        <p class="px-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eius cum non saepe nobis, odit omnis necessitatibus voluptatum, id dolor! Numquam deserunt dolor fugiat, ab necessitatibus, tempora magni consequatur ullam.</p>
      </div>
    </div>
    <br>
    <div class="home-banner-improve">
      <div class="vertical-align d-flex flex-column justify-content-center ">
        <h1>perfect your predictions</h1>
        <br>
        <br>
        <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum modi, sit ad praesentium, dolor ducimus. Dolore obcaecati nostrum rem assumenda nam sint recusandae quia corrupti, alias veritatis itaque doloribus quisquam.</p>
      </div>
    </div>
    <br>
    <div class="extra-cards">
      <div class="col mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1468931467769-06a09c69aad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80)">
        blog
      </div>

      <div class="col mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1468931467769-06a09c69aad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80)">
        ettiquete
      </div>

      <div class="col mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1468931467769-06a09c69aad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80)">
        review
      </div>
    </div>
  </div>
</div>
